QLineEdit{
background-color:#e4e4e4;
border-radius:3px;
border-width:0px;
}
QScrollBar{
width:2px;
}
QPushButton{
background-color:#e4e4e4;
border:1px;
}
QComboBox{
border:0px;
border-radius:3px;
background:#e4e4e4;
}
QComboBox:editable{
background:#e4e4e4;
}

